{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 */
#}

<div class="mdc-select__menu mdc-menu mdc-menu-surface" data-name="{{ attributes.name }}">
  <ul class="mdc-list">
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        {# OPTGROUP #}
        <li class="mdc-list-item">{{ option.label }}</li>
        {% for sub_option in option.options %}
          <li class="mdc-list-item{{ sub_option.selected ? ' mdc-list-item--selected'}}"
              data-value="{{ sub_option.value }}"{{ sub_option.selected ? ' aria-selected="true"' }}>
              <span class="mdc-list-item__text">{{ sub_option.label }}</span>
          </li>
        {% endfor %}
      {% elseif option.type == 'option' %}
        <li class="mdc-list-item {{ option.selected ? ' mdc-list-item--selected'}}"
            data-value="{{ option.value }}"{{ option.selected ? ' aria-selected="true"' }}>
          <span class="mdc-list-item__text">{{ option.label }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<input type="hidden" {{ attributes|without('class') }} />
