<!-- Add you custom twig html here -->
<div class="argue-versions">
  <div class="mdc-card argue-versions--description">
    <header class="card-header leading-icon">
      <div class="card-header__icon" aria-hidden="true"><i class="material-icons ">verified_user</i></div>
      <div class="card-header__text">
        <h2 class="card-header__first">{{ 'Version overview'|t }}</h2>
        <h3 class="card-header__second">{{ 'List off all completed versions.'|t }}</h3>
      </div>
    </header>
    <div class="argue-versions--inner">
      {{description}}
    </div>
  </div>

  {% if latest %}
  <div class="mdc-card argue-versions--latest">
    <div class="card-header">
      <div class="card-header__text">
        <h2 class="card-header__first mdc-typography mdc-typography--headline6">{{ 'Latest version'|t }}</h2>
      </div>
    </div>
    <div class="mdc-list mdc-list--two-line mdc-list--avatar-list">
      {{latest}}
    </div>
  </div>
  {% endif %}

  {% if current %}
  <div class="mdc-card argue-versions--current">
    <div class="card-header">
      <div class="card-header__text">
        <h2 class="card-header__first mdc-typography mdc-typography--headline6">{{ 'Current version'|t }}</h2>
      </div>
    </div>
    <div class="mdc-list mdc-list--two-line mdc-list--avatar-list">
      {{current}}
    </div>
  </div>
  {% endif %}


  {% if history %}
  <div class="mdc-card argue-versions--history">
    <div class="card-header">
      <div class="card-header__text">
        <h2 class="card-header__first mdc-typography mdc-typography--headline6">{{ 'Version history'|t }}</h2>
      </div>
    </div>
    <div class="mdc-list mdc-list--two-line mdc-list--avatar-list">
      {{history}}
    </div>
  </div>
  {% endif %}
</div>
