{#
/**
 * @file
 * Seven's theme implementation to list node types available for adding content.
 *
 * Available variables:
 * - types: List of content types. Each content type contains:
 *   - url: Path to the add content of this type page.
 *   - label: The title of this type of content.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 * @see seven_preprocess_node_add_list()
 */
#}
{% if content %}
<div class="mdc-card">
    <div class="mdc-list mdc-list--two-line mdc-list--avatar-list">
        {% for type in types %}
            {% if type.url == '/node/add/rule' %}
              {% set icon = 'account_balance' %}
            {% elseif  type.url == '/node/add/problem' %}
              {% set icon = 'priority_high' %}
            {% elseif  type.url == '/node/add/version' %}
              {% set icon = 'verified_user' %}
            {% else %}
                {% set icon = 'chevron_right' %}
            {% endif %}
            <a class="mdc-list-item" href="{{ type.url }}">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">{{ icon }}</span>
                <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">{% trans %}Add {{ type.label }}{% endtrans %}</span>
              <span class="mdc-list-item__secondary-text">{{ type.description }}</span>
          </span>
            </a>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="mdc-card">
    <p>
        {% set create_content = path('node.type_add') %}
        {% trans %}
            You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation
            page</a> to add a new content type.
        {% endtrans %}
    </p>
</div>
{% endif %}
