{% if level == -1 %}
  <div{{ attributes }}>
    {{ node_list }}
    {{ items }}
  </div>
{% elseif level == 0 %}
  <!-- CARD BEGIN -->
  <article{{ attributes.addClass('card') }}>
    <div class="card__content-wrapper">
      <!-- CARD Header Begin -->
      <header class="card-header">
        <span class="card-header__text">
          <h2 class="card-header__text__top">
            {% if link %}
              <a href="{{ link }}" class="arg-typo--h4">{{ label }} <i class="argue-icon argue-icon__inline">navigate_next</i></a>
            {% else %}
            <span class="arg-typo--h4">{{ label }}</span>
            {% endif %}
          </h2>
          {% if description %}
            <span class="card-header__text__bot">{{ description }}</span>
          {% endif %}
        </span>
      </header>
      {% if node_list|render|striptags|trim is not empty %}
        <div class="argue-list card__content-item">
          {{ node_list }}
        </div>
      {% endif %}
      {{ items }}
    </div>
  </article>
{% elseif level == 1 %}
  <article{{ attributes.addClass('argue-list','card__content-item') }}>
    <h3 class="argue-list--title">
      {% if link %}
        <a href="{{ link }}">{{ label }} <i class="argue-icon argue-icon__inline">navigate_next</i></a>
      {% else %}
        {{ label }}
      {% endif %}
    </h3>
    {{ node_list }}
    {{ items }}
  </article>
{% elseif level == 2 %}
  <aside>
    <h4 class="arg-typo--h6">
      {% if link %}
        <a href="{{ link }}" class="arg-typo--h5">{{ label }} <i class="argue-icon">navigate_next</i></a>
      {% else %}
        {{ label }}
      {% endif %}
    </h4>
  </aside>
{% endif %}

