{{ attach_library('argue_proscons/argue-proscons.list') }}
<section{{ attributes.addClass('argue-proscons') }}>

  <div class="argue-proscons__col-titles">
    {{ content.pro_title }}
    {{ content.con_title }}
  </div>

  <div class="argue-proscons__col panel">
    {{ content.pro }}
    {{ content.con }}
  </div>
</section>
