{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{{ form.comment_output_below }}

{{ form.comment_preview }}

<article{{ attributes.addClass('card', 'comment-form--wrapper') }}>
  <div class="card__content-wrapper">
    <header class="comment-form--header card-header">
      <span class="card-header__icon argue-icon" aria-hidden="true">comment</span>
      <span class="card-header__text">
        <span class="card-header__text__top">{{ form.label }}</span>
      </span>
    </header>
    <div class="card__content-item">
      {{ form|without('label', 'comment_output_below', 'comment_preview', 'actions') }}
    </div>
    <div class="card-footer">
      <div class="card-footer__action-buttons">
        {{ form['actions'] }}
      </div>
    </div>
  </div>
</article>

