{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{{ form.comment_output_below }}

{{ form.comment_preview }}

<article{{ attributes.addClass('comment__form') }}>
  <div class="comment__form__content-wrapper">
    <header class="comment__form__header">
      {{ form.label }}
    </header>
    <div class="comment__form__content-item">
      {{ form|without('label', 'comment_output_below', 'comment_preview', 'actions') }}
    </div>
    <div class="comment__form__footer">
      <div class="comment__form__action-buttons">
        {{ form['actions'] }}
      </div>
    </div>
  </div>
</article>

