{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% if form['#preview'] %}
  <div class="card card__prevent_nesting card__prevent_nesting_top">
    <div class="card__content-wrapper">
{% endif %}

{{ form.comment_output_below }}

{{ form.comment_preview }}

<article{{ attributes.addClass('comment__form') }}>
  <h3 class="comment__form__header">{{ form.label }}</h3>
  <div class="comment__form__content">
    {{ form|without('label', 'comment_output_below', 'comment_preview', 'actions') }}
  </div>
  {{ form['actions'] }}
</article>


{% if form['#preview'] %}
    </div>
  </div>
{% endif %}
