{#
/**
 * @file argument.html.twig
 * Default theme implementation to present Argument data.
 *
 * This template is used when viewing Argument pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_argument()
 *
 * @ingroup themeable
 */
#}
{% if content %}
<div{{ attributes.addClass('argument', 'argument-teaser', 'mdc-card') }}>
  <div class="argument__header">
    <span class="mdc-icon-button material-icons argument__type" aria-hidden="true">{{ header_icon }}</span>
    <div class="argument__header__text">
      <h2 class="mdc-typography--headline6">{{ content.name }}</h2>
      <h3 class="mdc-typography--subtitle2">{% trans %}By{% endtrans %} {{ content.user_id }} {% trans %}on{% endtrans %} {{ content.created }}</h3>
    </div>
  </div>


  <div class="argument__content">
      {{ content.argument }}
  </div>

  <div class="argument__details">
    {{ content.type }}
    {{ content.field_change_requests }}
  </div>


  <div class="argument__footer mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">{% trans %}Context{% endtrans %}</button>
      {{ content.operations }}
    </div>

    <div class="mdc-card__action-icons">
      {% if content.voting %}
        {{- content.voting -}}
      {% endif %}
    </div>
  </div>

</div>
{% endif %}
