{#
/**
 * @file
 * Default theme implementation for yes/no voting display.
 *
 * Available variables:
 * - widget_attributes: Attributes for outer div.
 * - yes_li_attributes: Attributes for yes li.
 * - yes_attributes: Attributes for yes div or link.
 * - up_votes: Number of up/yes votes.
 * - up_url: Url to vote yes/up.
 * - no_li_attributes: Attributes for no li.
 * - no_attributes: Attributes for no div or link.
 * - score_attributes: Attributes for vote total div.
 * - down_votes: Number of down/no votes.
 * - down_url: Url to vote no/down.
 * - undo: Link to undo placed vote.
 * - undo_attributes: Attributes for undo div.
 * - info_description: Extra textual info to display.
 *
 * @ingroup themeable
 */
#}
{% set my_vote = 0 %}

{% for vote in votes %}
  {% if vote == '1' %}
    {% set yes_li_attributes = yes_li_attributes.addClass('mdc-chip--selected') %}
    {% set my_vote = 'yes' %}
  {% elseif vote == '-1' %}
    {% set no_li_attributes = no_li_attributes.addClass('mdc-chip--selected') %}
    {% set my_vote = 'no' %}
  {% endif %}
{% endfor %}
{% set undo_title = 'Undo your decision.'|t %}

<div{{ widget_attributes }}>
  <div class="item-list">
    <div class="mdc-chip-set mdc-chip-set--choice" role="grid">
      {% if can_vote and not has_voted %}
         <div class="mdc-chip chip-label" role="row">{{ 'Do you agree with this argument?'|t }}</div>
      {% endif %}
        {% if not can_vote or (has_voted and my_vote != 'yes') %}
          <div{{ yes_li_attributes.addClass('mdc-chip', yes_li_classes).setAttribute('role', 'row') }}>
            <div class="mdc-chip__ripple"></div>
            <span role="gridcell">
              <i class="material-icons mdc-chip__icon mdc-chip__icon--leading" role="button">person</i>
            </span>
            <span role="gridcell">
              <span role="button" class="mdc-chip__primary-action">
                <span class="mdc-chip__text">{{ up_votes }} {{ 'agree'|t }}</span>
              </span>
            </span>
          </div>
        {% elseif (has_voted and my_vote == 'yes') %}
          <a href="{{ undo.url|render }}" {{ yes_li_attributes.addClass('mdc-chip', 'rate-undo', 'use-ajax', yes_li_classes).setAttribute('role', 'row').setAttribute('title', undo_title) }}>
            <div class="mdc-chip__ripple"></div>
            <span role="gridcell">
              <i class="material-icons mdc-chip__icon mdc-chip__icon--leading" role="button">person</i>
            </span>
            <span role="gridcell">
              <span role="button" class="mdc-chip__primary-action">
                <span class="mdc-chip__text">{{ up_votes }} {{ 'with you agree'|t }}</span>
              </span>
            </span>
            <span role="gridcell">
              <span class=" material-icons mdc-chip__icon mdc-chip__icon--trailing" role="button">clear</span>
            </span>
          </a>
        {% else %}
          <a href="{{ up_url }}" {{ yes_li_attributes.addClass('mdc-chip', 'rate-up', 'use-ajax', yes_li_classes).setAttribute('role', 'row') }}>
            <div class="mdc-chip__ripple"></div>
            <span role="gridcell">
              <span role="button" class="mdc-chip__primary-action">
                <span class="mdc-chip__text">{{ 'Yes'|t }} ({{ up_votes }})</span>
              </span>
            </span>
          </a>
        {% endif %}


        {% if not can_vote or (has_voted and my_vote != 'no') %}
          <div{{ no_li_attributes.addClass('mdc-chip', no_li_classes).setAttribute('role', 'row') }}>
            <div class="mdc-chip__ripple"></div>
            <span role="gridcell">
              <i class="material-icons mdc-chip__icon mdc-chip__icon--leading" role="button">person</i>
            </span>
            <span role="gridcell">
              <span role="button" class="mdc-chip__primary-action">
                <span class="mdc-chip__text">{{ down_votes }} {{ 'not agree'|t }}</span>
              </span>
            </span>
          </div>
        {% elseif (has_voted and my_vote == 'no') %}
          <a href="{{ undo.url|render }}" {{ no_li_attributes.addClass('mdc-chip', 'rate-undo', 'use-ajax', no_li_classes).setAttribute('role', 'row').setAttribute('title', undo_title) }}>
            <div class="mdc-chip__ripple"></div>
            <span role="gridcell">
              <i class="material-icons mdc-chip__icon mdc-chip__icon--leading" role="button">person</i>
            </span>
            <span role="gridcell">
              <span role="button" class="mdc-chip__primary-action">
                <span class="mdc-chip__text">{{ down_votes }} {{ 'with you not agree'|t }}</span>
              </span>
            </span>
            <span role="gridcell">
              <span class="material-icons mdc-chip__icon mdc-chip__icon--trailing" role="button">clear</span>
            </span>
          </a>
        {% else %}
          <a href="{{ down_url }}"{{ no_li_attributes.addClass('mdc-chip', 'rate-down', 'use-ajax', no_li_classes).setAttribute('role', 'row') }}>
            <div class="mdc-chip__ripple"></div>
            <span role="gridcell">
              <span role="button" class="rate-undo mdc-chip__primary-action">
                <span class="mdc-chip__text">{{ 'No'|t }} ({{ down_votes }})</span>
              </span>
            </span>
          </a>
        {% endif %}
    </div>
  </div>
</div>
