{#
/**
 * @file
 * Default theme implementation for up/down voting display.
 *
 * Available variables:
 * - widget_attributes: Attributes for outer div.
 * - has_voted: Boolean if user has voted.
 * - up_attributes: Attributes for up vote div.
 * - up_url: Url to vote up.
 * - score_attributes: Attributes for score display div.
 * - score: Up votes minus down votes.
 * - down_attributes: Attributes for down vote div.
 * - down_url: Url to vote down.
 * - score: Number of up votes.
 * - undo: Link to undo placed vote.
 * - undo_attributes: Attributes for undo div.
 * - info_description: Extra textual info to display.
 *
 * @ingroup themeable
 */
#}
{%
 set icon_classes = ['material-icons', 'mdc-icon-button']
%}

<div{{ widget_attributes }}>
  {% if (not has_voted and can_vote) %}
    <a {{ up_attributes.addClass(icon_classes) }} href="{{ up_url }}" title="{{ 'Up'|t }}">exposure_plus_1</a>
  {% endif %}
  <div{{ score_attributes }}>{{ score }}</div>
  {% if (not has_voted and can_vote) %}
    <a {{ down_attributes.addClass(icon_classes) }} }} href="{{ down_url }}" title="{{ 'Down'|t }}">exposure_neg_1</a>
  {% endif %}
  {% if undo %}
    <div{{ undo_attributes }}>{{ undo }}</div>
  {% endif %}
  {{ info_description }}
</div>
